/* nav > ul > li {
    list-style: none;
    color: black;
    display: inline;
    text-decoration: none;
    padding: 10px;
}

nav > ul > li:hover {
    font-size: 20px;
    transition: ease-in 0.4s;
}

nav ul {
    width: 100%;
    margin: 0;
    background-color: #dce1e4;
    float: right;
    padding: 10px;
}

nav > ul > li > a {
    padding: 5px;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

legend {
    text-align: center;
    font-size: 30px;
    padding: 25px;
    background-image: linear-gradient(to right, lightblue, darkblue);
    font-weight: 500;
}

body {
    font-family: sans-serif;
    background: lightblue;
}

h2 {
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 0;
    padding: 8px;
    text-align: center;
    background: lightblue;
    color: darkblue;
}

fieldset {
    width: 25vw;
    height: 55vh;
    margin: 100px auto;
    background: rgb(122, 218, 213);
}

input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background: rgba(32, 178, 170,0.7);
    width: 100%;
    box-sizing: border-box;
}

input[type="email"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(32, 178, 170,0.7);
    border-radius: 20px;
    border: none;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    background: rgba(32, 178, 170,0.7);
    border-radius: 15px;
    border: none;
}

#submit-btn {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 150px ;
    padding: 10px 20px ;
    border: none;
    border-radius: 25px;
    background: lightblue;
}
 */

 body{
    background-color: #eee;
    font-family: Verdana, Tahoma, sans-serif;
  }
  h2 {
    color: darkblue;
    text-align: center;
    background-color: rgb(231, 238, 240);
    padding: 10px;
  }
  h1,h3 {
    color: yellow;
    text-align: center;
  }
  
  article.home{
    width: auto;
    margin: 0px;
    padding: 5px;
    display: block;
    border-radius: 20px ;
    background-color: lightblue;
  }
  article.col-1{
    width: 95%;
    margin: 10px;
    padding: 10px;
    display: block;
  }
  article.col-2{
    position: relative;
    float: left;
    width: 47%;
    margin: 5px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
   }
  article.col-3{
    position: relative;
    float: left;
    width: 30%;
    margin: 5px;
    padding: 10px;
    display: block;
  }

  header{
  padding: 10px 0 10px 0;
  height: 100px;
  background-image: linear-gradient(to right, lightblue , darkblue); 
  }
  fieldset{
    padding: 5px;
    border-radius: 10px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
  }
  li {
    display: inline-block;
  }
  li a{
    text-align: center; 
    color: darkblue;
    display: block;
    text-decoration: none;
    padding: 10px;
  }

  input[type=reset]:hover{
    background-color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: yellow;
    width: 45%;
    padding: 5px;
    margin: 5px;
  }

  input[type=submit]{
    background-color: darkblue;
    font-weight: bold;
    color: yellow;
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    
    
  }
  select{
    width: auto;
  }
  footer{
    float: bottom;
    margin: 20px;
    position: relative;
    text-align: center;
    font-size: 0.7em;
  }
p{
  padding: 5px;
}
select{
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}
.column
  {
    float: left;
    width: 30.33%;
    margin: 16px 2px 16px 2px;
    padding: 0 8px;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    padding : 10px;
  }
  img.user{
    border-radius: 50%;
    padding: 10px;
    margin-left: 50px;
  }
  .title{
    color: grey;
  }
  .emailid{
    width: auto;
    background-color: yellow;
    padding: 10px;
    font-weight: bold;  
    color: darkblue;   
  }

.links{
  text-align: center;
}

article.login{
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  height: 120px;
}


table{
  width: 100%;
  border: 1px solid blue;
  border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5;
  }

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th{
  height: 30px;
  text-align: left;
  background-color: blue;
  color: yellow;
}
td{
  height: 20px;
  vertical-align: bottom;
}
th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.form-controls{
  padding: 10px;
  margin: 10px;
  width: 150px;
}

